.containter {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background-color: rgb(71, 141, 233);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .nav-left {
    color: #ffffff;
    font-size: 20px;
  }
  .picture {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(151, 205, 116);
    border-radius: 50%;
    right: 90px;
  }
  .name {
    color: #ffffff;
    font-size: 15px;
  }
}
.sider {
  background-color: #ffffff;
  li {
    width: 200px;
  }
  .ivu-menu-light {
    &:after {
      height: 0px !important;
    }
  }
  .ivu-menu {
    width: auto !important;
  }
  
}
.content {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  .title {
    font-size: 50px;
    margin: 50px 0 0 0;
  }
  .text {
    display: flex;
    align-items: center;
    margin: 50px 20px 0 20px;
    .ivu-radio-group {
      width: 280px;
    }
    .ivu-select {
      width: 150px;
    }
    button {
      margin: 10px;
    }
    .ivu-input-wrapper {
      width: 800px;
      ::-webkit-input-placeholder {
        font-size: 20px;
        color: rgb(200, 200, 200);
        font-weight: 100;
      }
      .ivu-input{
        padding-left: 50px;
        outline: none;
      }

    }   
  } 
}
.ivu-row-flex{
  height: 1000px;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  .ivu-checkbox-wrapper{
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: black;
    background: #ffffff;  
    margin-bottom: 10px;
    border-radius: 7px;
    line-height: 50px;
  }
}

.list-item {
  transition: all 1s;
  display: inline-block;
}
.list-enter-active{
  animation: fade-in .5s;
}
.list-leave-active {
  animation: fade-out .5s; 
}

@keyframes fade-in {
  from{
    transform: scale(0);
    transform-origin:30% 0;
  }
 to {
    transform: scale(1);
    transform-origin:30% 0;
  }
}  
@keyframes fade-out {
  from{
    transform: scale(1);
    transform-origin:30% 0;
  }
 to {
    transform: scale(0);
    transform-origin:30% 0;
  }
} 