.containter {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background-color: #478de9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .nav-left {
  color: #ffffff;
  font-size: 20px;
}
.header .picture {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #97cd74;
  border-radius: 50%;
  right: 90px;
}
.header .name {
  color: #ffffff;
  font-size: 15px;
}
.sider {
  background-color: #ffffff;
}
.sider li {
  width: 200px;
}
.sider .ivu-menu-light:after {
  height: 0px !important;
}
.sider .ivu-menu {
  width: auto !important;
}
.content {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
}
.content .title {
  font-size: 50px;
  margin: 50px 0 0 0;
}
.content .text {
  display: flex;
  align-items: center;
  margin: 50px 20px 0 20px;
}
.content .text .ivu-radio-group {
  width: 280px;
}
.content .text .ivu-select {
  width: 150px;
}
.content .text button {
  margin: 10px;
}
.content .text .ivu-input-wrapper {
  width: 800px;
}
.content .text .ivu-input-wrapper ::-webkit-input-placeholder {
  font-size: 20px;
  color: #c8c8c8;
  font-weight: 100;
}
.content .text .ivu-input-wrapper .ivu-input {
  padding-left: 50px;
  outline: none;
}
.ivu-row-flex {
  height: 1000px;
  background: #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.ivu-row-flex .ivu-checkbox-wrapper {
  width: 200px;
  height: 50px;
  font-size: 18px;
  color: black;
  background: #ffffff;
  margin-bottom: 10px;
  border-radius: 7px;
  line-height: 50px;
}
