.containter {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background-color: rgb(71, 141, 233);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .nav-left {
    color: #ffffff;
    font-size: 20px;
  }
  .picture {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(151, 205, 116);
    border-radius: 50%;
    right: 90px;
  }
  .name {
    color: #ffffff;
    font-size: 15px;
  }
}
.sider {
  background-color: #ffffff;
  li {
    width: 200px;
  }
}
.content {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  .title {
    font-size: 50px;
    margin: 50px 0 -50px 0;
  }
  .text {
    display: flex;
    align-items: center;
    margin: 100px 20px 0 20px;
    .ivu-radio-group {
      width: 600px;
    }
    .ivu-select {
      width: 180px;
    }
    .select {
      width: 180px;
      height: 30px;
    }
    button {
      margin: 10px;
    }
    .choice {
      display: flex;
      width: 250px;
      justify-content: space-around;
      .type {
        font-size: 15px;
        color: black;
      }
      a :hover {
        color: rgb(186, 236, 47);
      }
    }
    ::-webkit-input-placeholder {
      font-size: 20px;
      color: rgb(200, 200, 200);
      font-weight: 100;
    }
  }
 
  .ivu-checkbox-wrapper {
    font-size: 18px;
    color: black;
    
  }
}

.ivu-menu-light {
  &:after {
    height: 0px !important;
  }
}
.ivu-menu {
  width: auto !important;
}
